.color {
  min-height: 150px
}

.ju-container {
  display: -webkit-flex;
    -webkit-flex-flow: row wrap;

    /* IE10 uses display: flexbox */
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;

    /* Prevents distributing space between rows */
    -ms-align-content: flex-start;
    -webkit-align-content: flex-start;
  align-content: flex-start;
}
