@import 'normalize.css'
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700i|Ubuntu:400,700i');


/* html
   ==========================================
*/

html
  height: 100%


body
  font-family: Ubuntu, Roboto, "Helvetica Neue", Arial, sans-serif
  font-size: 1rem
  font-weight: normal
  line-height: 1.5
  color: #6C7A89
  background-color: #fff
  margin: 0px
  padding: 0px


/* Typography
   ==========================================
*/

/* --- Header -----*/

h1
h2
h3
h4
h5
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif /*specific for h5*/
  line-height: 1.2857em
  margin: calc(2rem -  0.14285em ) 0em 1rem
  font-weight: bold
  padding: 0em

h1
  min-height: 1rem
  font-size: 2rem

h2
  font-size: 1.714rem

h3
  font-size: 1.28rem

h4
  font-size: 1.071rem

h5
  font-size: 1rem

/* --- Text -----*/

p
  margin: 0em 0em 1em 0em
  line-height: 1.4285em

/* --- Link -----*/

a
  color: #4183C4
  text-decoration: none

a:hover
  color: #1e70bf
  text-decoration: none


/* --- color -----*/
turquoise = #1abc9c
green     = #2ecc71
blue      = #3498db
purple    = #9b59b6
asphalt   = #34495e
red       = #c0392b
yellow    = #f1c40f
orange    = #d35400


.font-turquoise
  color: turquoise

.back-turquoise
  background-color: turquoise

.font-green
  color: green

.back-green
  background-color: green

.font-blue
  color: blue

.back-blue
  background-color: blue

.font-purple
  color: purple

.back-purple
  background-color: purple

.font-red
  color: red

.back-red
  background-color: red

.font-yellow
  color: yellow

.back-yellow
  background-color: yellow

.font-orange
  color: orange

.back-orange
  background-color: orange


/* Grid System
   =========================
*/

.ju-container
  position: relative
  width: 100%
  max-width: 960px
  margin: 0 auto
  padding: 0 22px
  box-sizing: border-box;

.ju-column
  width: 100%
  float: left
  box-sizing: border-box

@media (min-width: 400px)
  .ju-container
    width: 80%
    padding: 0

@media (min-width: 550px)
  .ju-container
    width: 80%
  .ju-column
    margin-left: 4%

$monitor = 960

.ju-col-one
  width ($monitor/12)px

.ju-col-two
  width ($monitor/11)px

.ju-col-three
  width ($monitor/10)px

.ju-col-four
  width ($monitor/9)px

.ju-col-five
  width ($monitor/8)px

.ju-col-six
  width ($monitor/7)px

.ju-col-seven
  width ($monitor/6)px

.ju-col-eight
  width ($monitor/5)px

.ju-col-nine
  width ($monitor/4)px

.ju-col-ten
  width ($monitor/3)px

.ju-col-eleven
  width ($monitor/2)px

.ju-col-twelve
  width ($monitor)px

/* third System
   ---------
*/

.ju-col-one-third
  width ($monitor/3)px

.ju-col-two-third
  width ($monitor/6) px

/* offset System
   ---------
*/

.ju-offset-one
  margin ($monitor/12)px

.ju-offset-two
  margin ($monitor/11)px

.ju-offset-three
  margin ($monitor/10)px

.ju-offset-four
  margin ($monitor/9)px

.ju-offset-five
  margin ($monitor/8)px

.ju-offset-six
  margin ($monitor/7)px

.ju-offset-seven
  margin ($monitor/6)px

.ju-offset-eight
  margin ($monitor/5)px

.ju-offset-nine
  margin ($monitor/4)px

.ju-offset-ten
  margin ($monitor/3)px

.ju-offset-eleven
  margin ($monitor/2)px

.ju-offset-twelve
  margin ($monitor)px




/* Tables
   ==========================================================================
*/

/* Form
   ==========================================================================
*/


input
select
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
/* Removes awkward default styles on some inputs for iOS */

label,
legend
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
fieldset
  padding: 0;
  border-width: 0;
input[type="checkbox"]
input[type="radio"]
  display: inline
label > .label-body
  display: inline-block
  margin-left: .5rem
  font-weight: normal

/* Buttons
   ==========================================================================
*/
.ju-button, button, input[type="text"]{
  display: inline-block
  height: 40px
  padding: 0 20px
  color: #555
  text-align: center
  font-size: 12px
  font-weight: bold
  line-height: 45px
  letter-spacing: .1rem
  text-decoration: none
  text-transform: uppercase
  background-color: transparent
  border-radius: 4px
  border: 1px solid #bbb
  }

.ju-button-success
  color: green

.ju-button-fail
  color: red

.ju-button-calm
  color: yellow
