@import 'normalize.css'
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700i|Ubuntu:400,700i');


/* html
   ==========================================================================
*/

html
  height: 100%


body
  font-family: Ubuntu, Roboto, "Helvetica Neue", Arial, sans-serif
  font-size: 1rem
  font-weight: normal
  line-height: 1.5
  color: #6C7A89
  background-color: #fff
  margin: 0px
  padding: 0px

/* Grid System
   ==========================================================================
*/

/* Typography
   ==========================================================================
*/

/* Tables
   ==========================================================================
*/

/* Form
   ==========================================================================
*/


/* Buttons
   ==========================================================================
*/

/* Images
   ==========================================================================
*/

/* Helper Classes
   ==========================================================================
*/

/* Responsive Utilities
   ==========================================================================
*/
