@import 'normalize.css'
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700i|Ubuntu:400,700i');


/* html
   ==========================================
*/

html
  height: 100%


body
  font-family: Ubuntu, Roboto, "Helvetica Neue", Arial, sans-serif
  font-size: 1rem
  font-weight: normal
  line-height: 1.5
  color: #6C7A89
  background-color: #fff
  margin: 0px
  padding: 0px


/* Typography
   ==========================================
*/

/* --- Header -----*/

h1
h2
h3
h4
h5
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif /*specific for h5*/
  line-height: 1.2857em
  margin: calc(2rem -  0.14285em ) 0em 1rem
  font-weight: bold
  padding: 0em

h1
  min-height: 1rem
  font-size: 2rem

h2
  font-size: 1.714rem

h3
  font-size: 1.28rem

h4
  font-size: 1.071rem

h5
  font-size: 1rem

/* --- Text -----*/

p
  margin: 0em 0em 1em 0em
  line-height: 1.4285em

/* --- Link -----*/

a
  color: #4183C4
  text-decoration: none

a:hover
  color: #1e70bf
  text-decoration: none


/* --- color -----*/
turquoise = #1abc9c
green     = #2ecc71
blue      = #3498db
purple    = #9b59b6
asphalt   = #34495e
red       = #c0392b
yellow    = #f1c40f


.font-turquoise
  color: turquoise

.back-turquoise
  background-color: turquoise

.font-green
  color: green

.back-green
  background-color: green

.font-blue
  color: blue

.back-blue
  background-color: blue

.font-purple
  color: purple

.back-purple
  background-color: purple

.font-red
  color: red

.back-red
  background-color: red

.font-yellow
  color: yellow

.back-yellow
  background-color: yellow


/* Grid System
   ==========================================================================
*/



/* Typography
   ==========================================================================
*/

/* Tables
   ==========================================================================
*/

/* Form
   ==========================================================================
*/


/* Buttons
   ==========================================================================
*/

/* Images
   ==========================================================================
*/

/* Helper Classes
   ==========================================================================
*/

/* Responsive Utilities
   ==========================================================================
*/
