@import 'normalize.css';
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700i|Ubuntu:400,700i");
/* html
   ==========================================
*/
html {
  height: 100%;
}
body {
  font-family: Ubuntu, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #6c7a89;
  background-color: #fff;
  margin: 0px;
  padding: 0px;
}
/* Typography
   ==========================================
*/
/* --- Header -----*/
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif /*specific for h5*/;
  line-height: 1.2857em;
  margin: calc(2rem - 0.14285em) 0em 1rem;
  font-weight: bold;
  padding: 0em;
  display: block
}
h1 {
  min-height: 1rem;
  font-size: 2rem;
}
h2 {
  font-size: 1.714rem;
}
h3 {
  font-size: 1.28rem;
}
h4 {
  font-size: 1.071rem;
}
h5 {
  font-size: 1rem;
}
/* --- Text -----*/
p {
  margin: 0em 0em 1em 0em;
  line-height: 1.4285em;
}
/* --- Link -----*/
a {
  color: #4183c4;
  text-decoration: none;
}
a:hover {
  color: #1e70bf;
  text-decoration: none;
}
/* --- color -----*/
.font-turquoise {
  color: #1abc9c;
}
.back-turquoise {
  background-color: #1abc9c;
}
.font-green {
  color: #2ecc71;
}
.back-green {
  background-color: #2ecc71;
}
.font-blue {
  color: #3498db;
}
.back-blue {
  background-color: #3498db;
}
.font-purple {
  color: #9b59b6;
}
.back-purple {
  background-color: #9b59b6;
}
.font-red {
  color: #c0392b;
}
.back-red {
  background-color: #c0392b;
}
.font-yellow {
  color: #f1c40f;
}
.back-yellow {
  background-color: #f1c40f;
}
.font-orange {
  color: #d35400;
}
.back-orange {
  background-color: #d35400;
}
/* Grid System
   =========================
*/
.ju-container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 22px;
  box-sizing: border-box;
}
.ju-column {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
@media (min-width: 400px) {
  .ju-container {
    width: 85%;
    padding: 0;
  }
}
@media (min-width: 550px) {
  .ju-container {
    width: 80%;
  }
  .ju-column {
    margin-left: 4%;
  }
}
.ju-col-one {
  width: 80px;
}
.ju-col-two {
  width: 87.27272727272727px;
}
.ju-col-three {
  width: 96px;
}
.ju-col-four {
  width: 106.66666666666667px;
}
.ju-col-five {
  width: 120px;
}
.ju-col-six {
  width: 137.14285714285714px;
}
.ju-col-seven {
  width: 160px;
}
.ju-col-eight {
  width: 192px;
}
.ju-col-nine {
  width: 240px;
}
.ju-col-ten {
  width: 320px;
}
.ju-col-eleven {
  width: 480px;
}
.ju-col-twelve {
  width: 960px;
}
/* third System
   ---------
*/
.ju-col-two-third {
  width: 320px;
}
.ju-col-one-third {
  width: 160px;
}
/* offset System
   ---------
*/
.ju-offset-one {
  margin: 80px;
}
.ju-offset-two {
  margin: 87.27272727272727px;
}
.ju-offset-three {
  margin: 96px;
}
.ju-offset-four {
  margin: 106.66666666666667px;
}
.ju-offset-five {
  margin: 120px;
}
.ju-offset-six {
  margin: 137.14285714285714px;
}
.ju-offset-seven {
  margin: 160px;
}
.ju-offset-eight {
  margin: 192px;
}
.ju-offset-nine {
  margin: 240px;
}
.ju-offset-ten {
  margin: 320px;
}
.ju-offset-eleven {
  margin: 480px;
}
.ju-offset-twelve {
  margin: 960px;
}
/* Tables
   ==========================================================================
*/
/* Form
   ==========================================================================
*/
input,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */
label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}
/* Buttons
   ==========================================================================
*/
.ju-button{
  display: inline-block;
  height: 40px;
  padding: 0 20px;
  color: #555;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 45px;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
}
.ju-button-success {
  background-color: #2ecc71;
}
.ju-button-fail {
  background-color: #c0392b;
}
.ju-button-calm {
  background-color: #f1c40f;
}
