body {
    margin: 0;
}

/*CONTAINER*/
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*GRID SYSTEM*/
.row {
    margin-right: -15px;
    margin-left: -15px;
}

/*extra small grid*/

.grid-extra-small-1, .grid-extra-small-2, .grid-extra-small-3, .grid-extra-small-4, .grid-extra-small-5, .grid-extra-small-6, .grid-extra-small-7, .grid-extra-small-8, .grid-extra-small-9, .grid-extra-small-10, .grid-extra-small-11, .grid-extra-small-12 {
    float: left;
}
.grid-extra-small-12 {
    width: 100%;
}
.grid-extra-small-11 {
    width: 91.66666667%;
}
.grid-extra-small-10 {
    width: 83.33333333%;
}
.grid-extra-small-9 {
    width: 75%;
}
.grid-extra-small-8 {
    width: 66.66666667%;
}
.grid-extra-small-7 {
    width: 58.33333333%;
}
.grid-extra-small-6 {
    width: 50%;
}
.grid-extra-small-5 {
    width: 41.66666667%;
}
.grid-extra-small-4 {
    width: 33.33333333%;
}
.grid-extra-small-3 {
    width: 25%;
}
.grid-extra-small-2 {
    width: 16.66666667%;
}
.grid-extra-small-1 {
    width: 8.33333333%;
}

.grid-extra-small-offset-12 {
    margin-left: 100%;
}
.grid-extra-small-offset-11 {
    margin-left: 91.66666667%;
}
.grid-extra-small-offset-10 {
    margin-left: 83.33333333%;
}
.grid-extra-small-offset-9 {
    margin-left: 75%;
}
.grid-extra-small-offset-8 {
    margin-left: 66.66666667%;
}
.grid-extra-small-offset-7 {
    margin-left: 58.33333333%;
}
.grid-extra-small-offset-6 {
    margin-left: 50%;
}
.grid-extra-small-offset-5 {
    margin-left: 41.66666667%;
}
.grid-extra-small-offset-4 {
    margin-left: 33.33333333%;
}
.grid-extra-small-offset-3 {
    margin-left: 25%;
}
.grid-extra-small-offset-2 {
    margin-left: 16.66666667%;
}
.grid-extra-small-offset-1 {
    margin-left: 8.33333333%;
}
.grid-extra-small-offset-0 {
    margin-left: 0;
}

/*small grid*/

@media (min-width: 768px) {
    .grid-small-1, .grid-small-2, .grid-small-3, .grid-small-4, .grid-small-5, .grid-small-6, .grid-small-7, .grid-small-8, .grid-small-9, .grid-small-10, .grid-small-11, .grid-small-12 {
        float: left;
    }
    .grid-small-12 {
        width: 100%;
    }
    .grid-small-11 {
        width: 91.66666667%;
    }
    .grid-small-10 {
        width: 83.33333333%;
    }
    .grid-small-9 {
        width: 75%;
    }
    .grid-small-8 {
        width: 66.66666667%;
    }
    .grid-small-7 {
        width: 58.33333333%;
    }
    .grid-small-6 {
        width: 50%;
    }
    .grid-small-5 {
        width: 41.66666667%;
    }
    .grid-small-4 {
        width: 33.33333333%;
    }
    .grid-small-3 {
        width: 25%;
    }
    .grid-small-2 {
        width: 16.66666667%;
    }
    .grid-small-1 {
        width: 8.33333333%;
    }

    .grid-small-offset-12 {
        margin-left: 100%;
    }
    .grid-small-offset-11 {
        margin-left: 91.66666667%;
    }
    .grid-small-offset-10 {
        margin-left: 83.33333333%;
    }
    .grid-small-offset-9 {
        margin-left: 75%;
    }
    .grid-small-offset-8 {
        margin-left: 66.66666667%;
    }
    .grid-small-offset-7 {
        margin-left: 58.33333333%;
    }
    .grid-small-offset-6 {
        margin-left: 50%;
    }
    .grid-small-offset-5 {
        margin-left: 41.66666667%;
    }
    .grid-small-offset-4 {
        margin-left: 33.33333333%;
    }
    .grid-small-offset-3 {
        margin-left: 25%;
    }
    .grid-small-offset-2 {
        margin-left: 16.66666667%;
    }
    .grid-small-offset-1 {
        margin-left: 8.33333333%;
    }
    .grid-small-offset-0 {
        margin-left: 0;
    }
}

/*medium grid*/

@media (min-width: 768px) {
    .grid-small-1, .grid-small-2, .grid-small-3, .grid-small-4, .grid-small-5, .grid-small-6, .grid-small-7, .grid-small-8, .grid-small-9, .grid-small-10, .grid-small-11, .grid-small-12 {
        float: left;
    }
    .grid-small-12 {
        width: 100%;
    }
    .grid-small-11 {
        width: 91.66666667%;
    }
    .grid-small-10 {
        width: 83.33333333%;
    }
    .grid-small-9 {
        width: 75%;
    }
    .grid-small-8 {
        width: 66.66666667%;
    }
    .grid-small-7 {
        width: 58.33333333%;
    }
    .grid-small-6 {
        width: 50%;
    }
    .grid-small-5 {
        width: 41.66666667%;
    }
    .grid-small-4 {
        width: 33.33333333%;
    }
    .grid-small-3 {
        width: 25%;
    }
    .grid-small-2 {
        width: 16.66666667%;
    }
    .grid-small-1 {
        width: 8.33333333%;
    }

    .grid-small-offset-12 {
        margin-left: 100%;
    }
    .grid-small-offset-11 {
        margin-left: 91.66666667%;
    }
    .grid-small-offset-10 {
        margin-left: 83.33333333%;
    }
    .grid-small-offset-9 {
        margin-left: 75%;
    }
    .grid-small-offset-8 {
        margin-left: 66.66666667%;
    }
    .grid-small-offset-7 {
        margin-left: 58.33333333%;
    }
    .grid-small-offset-6 {
        margin-left: 50%;
    }
    .grid-small-offset-5 {
        margin-left: 41.66666667%;
    }
    .grid-small-offset-4 {
        margin-left: 33.33333333%;
    }
    .grid-small-offset-3 {
        margin-left: 25%;
    }
    .grid-small-offset-2 {
        margin-left: 16.66666667%;
    }
    .grid-small-offset-1 {
        margin-left: 8.33333333%;
    }
    .grid-extra-small-offset-0 {
        margin-left: 0;
    }
}