body{
  padding: 100px 0px
}
h1, h2, h3, h4, h5, h6{
  margin-top: 20px;
  margin-bottom: 20px;
}

img{
  user-select: none !important;
}

.btn{
  background: transparent;
  transition: all ease-in 0.1s;
  &.btn-primary{
    color: #2980b9;
  }
  &.btn-success{
    color: #2ecc71;
  }
  &.btn-info{
    color: #7bc9e0;
  }
  &.btn-warning{
    color: #f39c12;
  }
  &.btn-danger{
    color: #e74c3c;
  }
  &.btn-primary, &.btn-success, &.btn-info, &.btn-warning, &.btn-danger{
    &:hover, &:focus{
      color: #ffffff;
    }
  }
}
.dropdown{
  > .dropdown-menu{
    box-shadow: none !important;
  }
}
.pagination{
  margin: 0px;
}
.jumbotron{
  background-position: center no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  > * {
    position: relative;
    z-index: 100;
  }
  &::before{
    content: "";
    background: rgba(255, 255, 255, 150);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}
.page-header{
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.progress{
  margin-bottom: 0px;
  + .progress{
    margin-top: 20px;
  }
}
.panel{
  margin-bottom: 0px;
  + .panel{
    margin-top: 20px;
  }
}
.form-control{
  box-shadow: none !important;
  outline: none !important;
}
.wr-item{
  padding-top: 20px;
  padding-bottom: 20px;
  &nth-child(n+2){
    border-top: 1px solid #ccc;
  }
}
.wr-title{
  + .wr-content{
    margin-top: 20px;
  }
}
