body {
  padding: 100px 0px; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
  margin-bottom: 20px;
  font:  sans-serif;
  color: #1abc9c;
}

img {
  user-select: none !important;
}

.btn {
  background: transparent;
  transition: all ease-in 0.1s; }
  .btn.btn-primary {
    color: #2980b9; }
  .btn.btn-success {
    color: #2ecc71; }
  .btn.btn-info {
    color: #7bc9e0 }
  .btn.btn-warning {
    color: #f39c12; }
  .btn.btn-danger {
    color: #e74c3c; }
  .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-info:hover, .btn.btn-info:focus, .btn.btn-warning:hover, .btn.btn-warning:focus, .btn.btn-danger:hover, .btn.btn-danger:focus {
    color: #ffffff; }

.dropdown > .dropdown-menu {
  box-shadow: none !important; }

.pagination {
  margin: 0px; }

.jumbotron {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .jumbotron > * {
    position: relative;
    z-index: 100; }
  .jumbotron::before {
    content: "";
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%; }

.page-header {
  margin: 0px;
  border: 0px;
  padding: 0px; }

.progress {
  margin-bottom: 0px; }
  .progress + .progress {
    margin-top: 20px; }

.panel {
  margin-bottom: 0px; }
  .panel + .panel {
    margin-top: 20px; }

.form-control {
  box-shadow: none !important;
  outline: none !important; }

.wr-item {
  padding-top: 20px;
  padding-bottom: 20px; }
  .wr-itemnth-child(n+2) {
    border-top: 1px solid #ccc; }

.wr-title + .wr-content {
  margin-top: 20px; }
