@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");
/* LAYOUT AND GRID*/
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eceff1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}
.container {
  width: 90%;
  padding: 0 10px;
  margin: auto;
}
.row {
  margin: 10px 0;
}
.rowafter {
  content: "";
  clear: both;
  display: block;
}
[class*="s-"],
[class*="m-"],
[class*="l-"] {
  float: left;
  padding: 10px;
  width: 100%;
}
/*For Mobile Phone*/
@media only screen and (min-width: 480px) {
  .m-50,
  .l-50 {
    width: 100%;
  }
  .m-33,
  .l-33 {
    width: 100%;
  }
  .m-66,
  .l-66 {
    width: 100%;
  }
  .m-25,
  .l-25 {
    width: 100%;
  }
  .m-75,
  .l-75 {
    width: 100%;
  }
  .s-100 {
    width: 100%;
  }
  .s-50 {
    width: 50%;
  }
  .s-33 {
    width: 33.33333%;
  }
  .s-66 {
    width: 66.66666%;
  }
  .s-25 {
    width: 25%;
  }
  .s-75 {
    width: 75%;
  }
}
/*For Tablet*/
@media only screen and (min-width: 767px) {
  .l-25,
  .l-33,
  .l-50,
  .l-66,
  .l-75,
  .l-100 {
    width: 100%;
  }
  .m-100 {
    width: 100%;
  }
  .m-75 {
    width: 75%;
  }
  .m-66 {
    width: 66.66666%;
  }
  .m-50 {
    width: 50%;
  }
  .m-33 {
    width: 33.33333%;
  }
  .m-25 {
    width: 25%;
  }
}
/*Desktop*/
@media only screen and (min-width: 1200px) {
  .l-75 {
    width: 75%;
  }
  .l-66 {
    width: 66.66666%;
  }
  .l-50 {
    width: 50%;
  }
  .l-33 {
    width: 33.33333%;
  }
  .l-25 {
    width: 25%;
  }
  .l-100 {
    width: 100%;
  }
}
/*content alignment*/
.center {
  text-align: center;
}
.l-eft {
  text-align: left;
}
.right {
  text-align: right;
}
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.clearfix {
  clear: both;
}
/* LAYOUT AND GRID*/
/*give a lower position content*/
.l-ower {
  margin-top: 20px;
}
/* TYPHOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}
p,
ol,
ul {
  font-family: inherit;
  font-weight: lighter;
}
/* TYPHOGRAPHY */
/* COLORS */
.bg-primary {
  background-color: #2962ff;
}
.bg-success {
  background-color: #00c853;
}
.bg-normal {
  background-color: #263238;
}
.bg-danger {
  background-color: #d50000;
}
.bg-warning {
  background-color: #ffd600;
}
.bg-primary-l {
  background-color: #2979ff;
}
.bg-success-l {
  background-color: #00e676;
}
.bg-normal-l {
  background-color: #37474f;
}
.bg-danger-l {
  background-color: #ff1744;
}
.bg-warning-l {
  background-color: #ffea00;
}
.bg-neutral {
  background-color: #fff;
}
.c-primary {
  color: #2962ff;
}
.c-success {
  color: #00c853;
}
.c-normal {
  color: #263238;
}
.c-danger {
  color: #d50000;
}
.c-warning {
  color: #ffd600;
}
.c-primary-l {
  color: #2979ff;
}
.c-success-l {
  color: #00e676;
}
.c-normal-l {
  color: #37474f;
}
.c-danger-l {
  color: #ff1744;
}
.c-warning-l {
  color: #ffea00;
}
.c-neutral {
  color: #fff;
}
/* COLORS */
.navbar {
  position: fixed;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 0;
  top: 0;
  border-top: solid 5px #ff1744;
}
.navbar-brand {
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  padding: 5px 0;
  display: inline-block;
}
.navbar-menu {
  display: inline-block;
  margin: 0;
}
.navbar-menu-item {
  display: inline-table;
  list-style-type: none;
  font-size: 1.5em;
  padding: 10px;
}
.navbar-menu-itemhover {
  display: inline-table;
  list-style-type: none;
  font-size: 1.5em;
  padding: 10px;
  background-color: #2962ff;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.12);
}
.navbar-menu-item a {
  color: #fff;
  text-decoration: none;
}
.card {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 10px;
}
.card-head {
  border-bottom: solid 1px #f4f4f4;
  font-weight: bolder;
}
.card-head h2 {
  margin: 10px 0;
}
.card-body {
  border-bottom: solid 1px #f4f4f4;
  font-weight: bolder;
}
.card-body,
.card-head {
  padding: 5px 0;
}
.card-footer {
  padding: 20px 0 15px;
}
blockquote {
  font-size: 1.5em;
  font-style: italic;
  font-weight: lighter;
  border-left: solid 3px #ddd;
  padding-left: 20px;
}
blockquote.answer {
  font-size: 1em;
}
blockquote small {
  font-size: 0.7em;
  font-style: normal;
  font-weight: bold;
}
#quote p {
  font-size: 2em;
  font-style: italic;
}
.form-group {
  padding: 10px 0;
}
.form-group label {
  text-align: right;
}
input,
textarea {
  padding: 10px;
  font-size: 1em;
}
select {
  margin: 10px 0;
}
.false {
  color: #f00;
text-decorationline-through
}
.img-responsive {
  max-width: 100%;
}
.img-circle {
  border-radius: 100%;
}
.thumbnail {
  border: 2px solid #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.6);
}
.btn {
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.6);
  border: none;
  border-radius: 2px;
  font-size: 1em;
  text-decoration: none;
}
.btn -webkit-transition all .2s ease-in-out -moz-transition all .2s ease-in-out -o-transition all .2s ease-in-out {
  transition: all 0.2s ease-in-out;
}
.btn -webkit-transform scale(1) -moz-transform scale(1) {
  -o-transform: scale(1);
  transform: scale(1);
}
.btn:hover -webkit-transition all .2s ease-in-out -moz-transition all .2s ease-in-out -o-transition all .2s ease-in-out {
  transition: all 0.2s ease-in-out;
}
.btn:hover -webkit-transform scale(1.25) -moz-transform scale(1.25) -o-transform scale(1.25) {
  transform: scale(1.25);
}
/* TABLE */
table {
  border-collapse: collapse;
}
table td,
table th {
  padding: 10px 30px;
  border: solid 1px #ddd;
}
table.stripped td,
table.stripped th {
  padding: 10px 30px;
  border: none;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}
