.column-1 {
  width: 12.0625%;
  background-color: #808080;
  float: left;
}
.column-2 {
  width: 24.625%;
  background-color: #808080;
  float: left;
}
.column-3 {
  width: 37.1875%;
  background-color: #808080;
  float: left;
}
.column-4 {
  width: 49.75%;
  background-color: #808080;
  float: left;
}
.column-5 {
  width: 62.3125%;
  background-color: #808080;
  float: left;
}
.column-6 {
  width: 74.875%;
  background-color: #808080;
  float: left;
}
.column-7 {
  width: 87.4375%;
  background-color: #808080;
  float: left;
}
.column-8 {
  width: 100%;
  background-color: #808080;
  float: left;
}
.column {
  position: relative;
  float: left;
  display: block;
}
.column + .column {
  margin-left: .5%;
}
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 5px;
}
.background {
  background-color: #394a66;
}
.pink {
  color: #f938ab;
}
.text-header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 36px;
  font-variant: small-caps;
}
.text-body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}
